/*==================== 
    Stylization type: Mobile Frist
====================*/
/*========== REM measure ==========*/
/* For screens bigger than 1024px: 16px(defalt) */
/* For screens smaller than 1024px*/
@media (max-width: 1024px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}
/* For screens smaller than 768px*/
@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}
/*========== Variables ==========*/
:root {
  /*========== Colors ==========*/
  --brown: #1d0605;
  --brown-transparent: #1D060526;
  --brown-50: #3B200B;
  --beige: hsla(29, 82%, 78%, 0.97);
  --beige-50: #FAE2CB;
  --black-60: #635352;
  --black-87: #34201F;
  --yellow: #F59A1B;
  --red: #F43127;
  --red-hover: #d32a21;
  --white: #FFF;
}

/*========== Global ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #FAF3F2;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn-red {
  background-color: var(--red);
  color: var(--white);
  border: unset;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-red:hover {
  cursor: pointer;
  background-color: var(--red-hover);
}

/*========== Header ==========*/
.header-navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  display: flex;
  background: rgba(238, 238, 238, 0.705);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header-navbar .container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar .logo-img {
  width: 14rem;
}
.header-navbar .ph-list {
  padding: 0.25rem;
  font-size: 2rem;
  color: var(--brown);
  background-color: var(--brown-transparent);
  border-radius: 0.25rem;
}
.header-navbar .ph-list:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.header-navbar .open-menu.hiden {
  display: none;
}
.header-navbar .menu {
  width: 100%;
  height: 100vh;
  padding: 1rem 1.5rem;
  position: fixed;
  top: -3000%;
  right: 0;
  opacity: 0.2;
  transition: top 0.5s, opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  background-color: var(--beige);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header-navbar .menu.show {
  top: 0;
  opacity: unset;
  transition: top 0.5s, opacity 0.5s;
}
.header-navbar .menu .ph-x {
  position: absolute;
  top: 1.25rem;
  right: 1.75rem;
  font-size: 2rem;
  color: var(--brown);
}
.header-navbar .menu .ph-x:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}
.header-navbar .menu .menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.header-navbar .menu .menu-links a {
  font-size: 1.75rem;
  color: var(--black-60);
}
.header-navbar .menu .menu-links a:hover {
  font-weight: 700;
}
.header-navbar .menu .social-container {
  display: flex;
  gap: 2rem;
}
.header-navbar .menu .social-container .social-icon-container {
  padding-right: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-right: 2px solid #B50B04;
}
.header-navbar .menu .social-container .social-icon-container a:first-child .social-icon {
  width: 2.5rem;
}
.header-navbar .menu .social-container .social-icon {
  width: 2.5rem;
}
.header-navbar .menu .social-container button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--yellow);
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  color: --black-87;
}
.header-navbar .menu .social-container button:hover {
  cursor: pointer;
}
.header-navbar .menu .social-container button img {
  width: 1.25rem;
}

/*========== Home ==========*/
.home {
  min-height: 65rem;
  padding: 6.25rem 0;
  position: relative;
  background-image: url("../../public/banner-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .container p:first-child {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--brown);
}
.home .container h1, .home .container h1 span {
  font-family: "Lilita One", cursive;
  font-size: 3.25rem;
  color: var(--brown-50);
  text-transform: uppercase;
}
.home .container h1 span, .home .container h1 span span {
  color: var(--yellow);
}
.home .container p {
  color: var(--brown);
}
.home .container p span {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--yellow);
  font-weight: 900;
}
.home .container button {
  margin-top: 1.5rem;
}
.home .container-card {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: -15rem;
  display: flex;
  justify-content: center;
}
.home .container-card .information-card {
  width: 90%;
  max-width: 1080px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--white);
  box-shadow: 0px 4px 35px rgba(179, 155, 132, 0.3);
  border-radius: 0.75rem;
}
.home .container-card .information-card .card-container {
  padding-bottom: 1.25rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(73, 46, 21, 0.1490196078);
}
.home .container-card .information-card .card-container img {
  width: 4rem;
  padding: 0.75rem;
  background-color: var(--beige-50);
  border-radius: 100%;
}
.home .container-card .information-card .card-container .text-container strong {
  font-family: "Lilita One", cursive;
  font-size: 1.5rem;
  color: var(--brown);
  text-transform: uppercase;
}
.home .container-card .information-card .card-container .text-container p {
  margin-top: 0.5rem;
  color: var(--black-60);
  font-size: 1.25rem;
}
.home .container-card .information-card .card-container:last-child {
  border-bottom: unset;
}

/*========== Promotions ==========*/
.promotions {
  padding-top: 17rem;
}
.promotions h2 {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  color: var(--brown);
  font-size: 1.75rem;
  margin: 0.5rem 0;
}
.promotions p {
  color: var(--brown-50);
  margin-bottom: 1rem;
}
.promotions .grid-promotions {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
}
.promotions .grid-promotions .oferta:first-child strong, .promotions .grid-promotions .oferta:first-child span {
  color: var(--white);
}
.promotions .grid-promotions .oferta {
  position: relative;
}
.promotions .grid-promotions .oferta strong, .promotions .grid-promotions .oferta span {
  position: absolute;
  color: var(--brown);
}
.promotions .grid-promotions .oferta strong {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
  top: 0.75rem;
  left: 1.25rem;
}
.promotions .grid-promotions .oferta span {
  font-size: 1.25rem;
  top: 2.5rem;
  left: 1.25rem;
}
.promotions .card {
  padding: 1.25rem 1rem;
  margin: 2.25rem 0 0 0;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--red);
  border-radius: 0.5rem;
}
.promotions .card img {
  width: 5rem;
  padding: 0.75rem 1rem;
  background-color: rgba(29, 6, 5, 0.2);
  border-radius: 100%;
}
.promotions .card div {
  flex: 1;
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgba(29, 6, 5, 0.4);
}
.promotions .card div strong {
  margin-bottom: 0.25rem;
  font-family: "Lilita One", cursive;
  font-size: 1.25rem;
  color: var(--brown);
  text-transform: uppercase;
}
.promotions .card div p {
  margin: unset;
  font-size: 0.9rem;
  color: var(--white);
}
.promotions .instagram-container {
  margin: 4rem 0;
  text-align: center;
}
.promotions .instagram-container span {
  display: block;
  font-size: 1.25rem;
  color: var(--brown);
}
.promotions .instagram-container strong {
  color: var(--red);
  text-transform: uppercase;
  font-family: "Lilita One", cursive;
  font-size: 2.5rem;
}

/*========== # ==========*/
/*========== For screens bigger than 640px ==========*/
@media (min-width: 640px) {
  /*========== Home ==========*/
  .home {
    min-height: 90rem;
    padding: 8rem 0;
  }
  .home .container p:first-child, .home .container p, .home .container button {
    font-size: 1.5rem;
  }
  .home .container h1, .home .container h1 span {
    font-size: 4.75rem;
  }
}
/*========== For screens bigger than 1024px ==========*/
@media (min-width: 1024px) {
  /*========== Header ==========*/
  .header-navbar .open-menu {
    display: none;
  }
  .header-navbar .container {
    justify-content: flex-start;
    gap: 2.5rem;
    border-bottom: 1px solid rgba(60, 33, 12, 0.1490196078);
  }
  .header-navbar .menu {
    flex: 1;
    width: unset;
    height: unset;
    padding: unset;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    opacity: unset;
    background-color: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .header-navbar .menu .close-menu {
    display: none;
  }
  .header-navbar .menu .menu-links {
    flex-direction: row;
    gap: 1rem;
  }
  .header-navbar .menu .menu-links a {
    font-size: 1.25rem;
    color: var(--black-60);
  }
  .header-navbar .menu .menu-links a:hover {
    font-weight: 700;
  }
  .header-navbar .menu .social-container {
    gap: 1.25rem;
  }
  .header-navbar .menu .social-container .social-icon-container {
    padding-right: 1.25rem;
  }
  .header-navbar .menu .social-container a .social-icon {
    width: 1.75rem;
  }
  /*========== Home ==========*/
  .home {
    min-height: 34.75rem;
    display: flex;
    align-items: center;
    background-image: url("../../public/banner-hero.png");
  }
  .home .container {
    width: 100%;
  }
  .home .container-card {
    bottom: -4rem;
  }
  .home .container-card .information-card {
    flex-direction: row;
  }
  .home .container-card .information-card .card-container {
    flex: 1;
    padding-bottom: unset;
    padding-right: 1.25rem;
    border-bottom: unset;
    border-right: 1px solid rgba(73, 46, 21, 0.1490196078);
  }
  .home .container-card .information-card .card-container .text-container strong {
    font-size: 1.25rem;
  }
  .home .container-card .information-card .card-container .text-container p {
    font-size: 1rem;
  }
  .home .container-card .information-card .card-container:last-child {
    border-right: unset;
  }
}/*# sourceMappingURL=global.css.map */