/*==================== 
    Stylization type: Mobile Frist
====================*/
/*========== REM measure ==========*/
/* For screens bigger than 1024px: 16px(defalt) */
/* For screens smaller than 1024px*/
@media (max-width: 1024px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}
/* For screens smaller than 768px*/
@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}
/*========== Variables ==========*/
:root {
  /*========== Colors ==========*/
  --brown: #1d0605;
  --brown-transparent: #1D060526;
  --beige: hsla(29, 82%, 78%, 0.97);
  --black-60: #635352;
  --black-87: #34201F;
  --yellow: #F59A1B;
  --red: #B50B04;
}

/*========== Global ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*========== Header ==========*/
.header-navbar {
  padding: 0 1.5rem;
  width: 100%;
  height: 4rem;
  position: fixed;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header-navbar .container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar .logo-img {
  width: 14rem;
}
.header-navbar .ph-list {
  padding: 0.25rem;
  font-size: 2rem;
  color: var(--brown);
  background-color: var(--brown-transparent);
  border-radius: 0.25rem;
}
.header-navbar .ph-list:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.header-navbar .open-menu.hiden {
  display: none;
}
.header-navbar .menu {
  width: 100%;
  height: 100vh;
  padding: 1rem 1.5rem;
  position: fixed;
  top: -1500%;
  right: 0;
  opacity: 0.2;
  transition: top 0.5s, opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  background-color: var(--beige);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header-navbar .menu.show {
  top: 0;
  opacity: unset;
  transition: top 0.5s, opacity 0.5s;
}
.header-navbar .menu .ph-x {
  position: absolute;
  top: 1.25rem;
  right: 1.75rem;
  font-size: 2rem;
  color: var(--brown);
}
.header-navbar .menu .ph-x:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}
.header-navbar .menu .menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.header-navbar .menu .menu-links a {
  font-size: 1.75rem;
  color: var(--black-60);
}
.header-navbar .menu .menu-links a:hover {
  font-weight: 700;
}
.header-navbar .menu .social-container {
  display: flex;
  gap: 2rem;
}
.header-navbar .menu .social-container .social-icon-container {
  padding-right: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border-right: 2px solid var(--red);
}
.header-navbar .menu .social-container .social-icon-container a:first-child .social-icon {
  width: 2.5rem;
}
.header-navbar .menu .social-container .social-icon {
  width: 2.5rem;
}
.header-navbar .menu .social-container button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--yellow);
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  color: --black-87;
}
.header-navbar .menu .social-container button:hover {
  cursor: pointer;
}
.header-navbar .menu .social-container button img {
  width: 1.25rem;
}

/*========== Home ==========*/
.home {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/banner-hero.png");
}

/*========== # ==========*/
/*========== For screens bigger than 1024px ==========*/
@media (min-width: 1024px) {
  /*========== Header ==========*/
  .header-navbar .open-menu {
    display: none;
  }
  .header-navbar .container {
    justify-content: flex-start;
    gap: 2.5rem;
    border-bottom: 1px solid rgba(60, 33, 12, 0.1490196078);
  }
  .header-navbar .menu {
    flex: 1;
    width: unset;
    height: unset;
    padding: unset;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    opacity: unset;
    background-color: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .header-navbar .menu .close-menu {
    display: none;
  }
  .header-navbar .menu .menu-links {
    flex-direction: row;
    gap: 1rem;
  }
  .header-navbar .menu .menu-links a {
    font-size: 1.25rem;
    color: var(--black-60);
  }
  .header-navbar .menu .menu-links a:hover {
    font-weight: 700;
  }
  .header-navbar .menu .social-container {
    gap: 1.25rem;
  }
  .header-navbar .menu .social-container .social-icon-container {
    padding-right: 1.25rem;
  }
  .header-navbar .menu .social-container a .social-icon {
    width: 1.75rem;
  }
}/*# sourceMappingURL=global.css.map */